@media (min-width: 0px) {

    /*----------------CABECALHO---------------*/
    .link__volta-home {
        font-family: 'SF-PRO-Bold';
        font-size: 14px;

        letter-spacing: .04rem;

        color: #464646;
        background-color: transparent;

        padding-left: 2.125rem;
        padding-right: 2.125rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        border-radius: 10px;

        transition: all .15s ease-in-out;
    }

    .link__volta-home:hover {
        color: var(--low-light);

        transition: all .15s ease-in-out;
    }

    /*----------------CONTEUDO---------------*/
    .titulo__oportunidades {
        font-family: 'SF-PRO-Bold';
        font-size: 56px;
        letter-spacing: .04rem;
        color: var(--low-pure);
        margin: 0%;
        margin-bottom: 0%;
        margin-bottom: 6.313rem;

        padding-top: 5.625rem;

        animation: animaTop .8s ease-out forwards;

    }
    .secao__conteudo___oportunidade{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        width: 84vw;

        margin-bottom: 8.563rem;

        animation: animaTop .8s ease-out forwards;
    }
    .secao__info___conteudo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.563rem;

        width: 53vw;
    }
    .container__info___conteudo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.563rem;

        margin: 0%;
    }
    .titulo__info___conteudo{
        font-family: 'SF-PRO-Medium';
        font-size: 22px;
        letter-spacing: .04rem;
        color: var(--low-pure);
        margin: 0%;
    }
    .descricao__info___conteudo{
        font-family: 'SF-PRO-Regular';
        font-size: 17px;
        
        letter-spacing: .04rem;
        line-height: 36px;

        color: var(--high-low);

        width: 50vw;
    }
    .container__info___conteudo-lista{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.125rem;

        margin: 0%;
    }
    .titulo__info___conteudo-lista{
        font-family: 'SF-PRO-Medium';
        font-size: 22px;
        letter-spacing: .04rem;
        color: var(--low-pure);
        margin: 0%;
    }
    .lista__info___conteudo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }
    .item__info___conteudo{
        font-family: 'SF-PRO-Medium';
        font-size: 17px;
        letter-spacing: .04rem;
        color: var(--low-pure);
        margin: 0%;

        padding-left: 1.25rem;

        background-image: url('../../Assets/HectorLabs/vetor-list.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: .5rem .5rem;
    }
    .descricao-borda{
        padding-bottom: 3.25rem;

        border-bottom: 1px solid #A3A3A3;
    }
    .link__oportunidades{
        font-family: 'SF-PRO-Medium';
        font-size: 14px;

        letter-spacing: .04rem;

        color: #FFFFFF;

        padding-left: 2.4rem;
        padding-right: 2.4rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;

        background-color: var(--primary);
        border-radius: 10px;
        border: none;
        margin-top: 0.813rem;
        
        border: 2px solid var(--primary);

        transition: all .15s ease-in-out;

        width: 17.125rem;
        text-align: center;
    }
    .link__oportunidades:hover{
        background-color: #0E2E78;
        transition: all .15s ease-in-out;
    }
    .secao__aside___conteudo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.375rem;

        width: 20.188rem;

        background: #F5F5F7;
        border-radius: 10px;

        padding-top: 2.813rem;
        padding-left: 1.563rem;
        padding-right: 1.625rem;
        padding-bottom: 2.875rem;
    }
    .titulo__aside___conteudo{
        font-family: 'SF-PRO-Medium';
        font-size: 17px;
        letter-spacing: .05rem;
        color: var(--low-pure);
        margin: 0%;

        line-height: 22px;
    }
    .secao__dados___oportunidade{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.125rem;

        padding-bottom: 1.25rem;

        border-bottom: 1px solid #A3A3A3;

        width: 17rem;
    }
    .tipo__carga-horaria{
        font-family: 'SF-PRO-Regular';
        font-size: 17px;
        letter-spacing: .05rem;
        color: #666666;
        margin: 0%;
    }
    .tipo__remoto{
        font-family: 'SF-PRO-Regular';
        font-size: 17px;
        letter-spacing: .05rem;
        color: #292A2C;
        margin: 0%;
    }
    .salario-vaga{
        font-family: 'SF-PRO-Regular';
        font-size: 17px;
        letter-spacing: .05rem;
        color: #292A2C;
        margin: 0%;
    }
    .tempo-inicio{
        font-family: 'SF-PRO-Regular';
        font-size: 17px;
        letter-spacing: .05rem;
        color: #666666;
        margin: 0%;
    }
    .descricao__dados___conteudo{
        font-family: 'SF-PRO-Medium';
        font-size: 17px;
        letter-spacing: .05rem;
        color: var(--low-pure);
        margin: 0%;

        width: 15.5rem;

        line-height: 22px;

        margin-bottom: 0.5rem;
    }
    .link__oportunidade___conteudo{
        font-family: 'SF-PRO-Medium';
        font-size: 14px;

        letter-spacing: .04rem;

        color: #FFFFFF;

        padding-left: 2.4rem;
        padding-right: 2.4rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;

        background-color: var(--primary);
        border-radius: 10px;
        border: none;
        margin-top: 0.813rem;
        
        border: 2px solid var(--primary);

        transition: all .15s ease-in-out;

        width: 17.125rem;
        text-align: center;
    }
    .link__oportunidade___conteudo:hover{
        background-color: #0E2E78;
        transition: all .15s ease-in-out;
    }
    .secao__newsletter-margin{
        margin-bottom: 11.25rem;
    }
    .secao__feedback-newsletter{
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 100vw;

        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        position: fixed;

        background-color: var(--primary);

        z-index: 5000;

        opacity: 0;

        animation: animaFeedback 3s ease-in-out forwards ;

        transition: all .3s ease-in-out;
    }
    .secao__feedback-newsletter-ativo{
        display: flex;
        opacity: 1;
    }
    .desativa__form{
        display: none;
    }
    .ativa__form{
        display: flex;
    }
    .secao__newsletter-ativa{
        display: none;
    }
    @keyframes animaFeedback{
        0%{
            opacity: 1;
        }
        50%{
            opacity: 1;
        }
        80%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            display: none;
        }
    }
    .feedback-newsletter{
        font-family: 'SF-PRO-Medium';
        font-size: 14px;
        letter-spacing: .05rem;
        color: #FFFFFF;
        margin: 0%;
    }
}