@media (max-width:1023px){
    /*---------------CABECALHO------------*/
    #links__cabecalho-desktop{
        display: none;
    }
    #links__cabecalho-mobile{
        display: flex;
    }
    #links__cabecalho-botoes-mobile{
        display: flex;
    }
    .botao__menu-cabecalho{
        border: none;
        background-color: transparent;
    }
    .cabecalho{
        padding-top: 2.188rem;
        padding-left: 2.188rem;
        padding-right: 2.188rem;
        padding-bottom: 2.188rem;

        position: fixed;

        background-color: #FFFFFF;

        z-index: 200;

        top: 0%;

        animation: none;
    }
    .logo__hector-labs{
        width: 7.063rem;
    }
    .botao__menu-cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 2rem;
        width: 2.063rem;

        position: relative;
        top: .1rem;
    }
    #botao-menu-fecha{
        position: relative;
    }
    #vetor-1-menu{
        position: relative;
        top: .2rem;
    }
    #vetor-2-menu{
        position: relative;
        top: .6rem;

        width: 1.563rem;
    }
    #vetor-3-menu{
        position: relative;
        top: 1rem;

    }
    #vetor-1-menu-fecha{
        position: relative;
        
        transform: rotate(-45deg);
    }
    #vetor-2-menu-fecha{
        display: none;
        width: 0rem;
    }
    #vetor-3-menu-fecha{
        left: -.03rem;
        top: -1.1rem;
        position: relative;

        transform: rotate(45deg);
    }
    @keyframes animaVetor-1 {
        0%{
            top: .2rem;

            transform: rotate(0deg);
        }
        100%{
            top: .6rem;

            transform: rotate(-45deg);
        }
    }
    @keyframes animaVetor-2 {
        0%{
            display: block;
        }
        50%{
            width: 0rem;
        }
        100%{
            display: none;
            width: 0rem;
        }
    }
    @keyframes animaVetor-3 {
        0%{
            top: 1rem;
            left: 0rem;

            transform: rotate(0deg);
        }
        100%{
            top: .4015rem;
            left: -.03rem;

            transform: rotate(45deg);
        }
    }
    @keyframes animaVetor-1-fecha {
        0%{
            top: .6rem;

            transform: rotate(-45deg);
        }
        100%{
            top: .2rem;

            transform: rotate(0deg);
        }
    }
    @keyframes animaVetor-2-fecha {
        0%{
            display: none;
            width: 0rem;
        }
        50%{
            width: 0rem;
        }
        100%{
            display: block;
            width: 1.563rem;
        }
    }
    @keyframes animaVetor-3-fecha {
        0%{
            top: .4015rem;
            left: -.03rem;

            transform: rotate(45deg);
        }
        100%{
            top: 1rem;
            left: 0rem;

            transform: rotate(0deg);
        }
    }
    .secao__links___cabecalho-botao-fecha{
        display: none;
    }
    .botao__menu-cabecalho-fecha{
        border: none;
        background-color: transparent;

        width: 2rem;

        padding-left: 0%;
        padding-right: 0%;
    }
    .secao__conteudo___menu-aberto{
        position: fixed;

        animation: animaMenu .3s ease-in-out forwards;

        z-index: 100;

        width: 100vw;

        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        background-color: #FFFFFF;

        padding-bottom: 4rem;
        padding-top: 2rem;
    }
    @keyframes animaMenu {
        0%{
            top: 0%;
            opacity: 0;
        }
        100%{
            top: 6.875rem;
            opacity: 1;
        }
    }
    @keyframes animaMenu-fecha {
        0%{
            top: 6.875rem;
            opacity: 1;
        }
        100%{
            top: 0%;
            opacity: 0;
        }
    }
    #links__cabecalho-botoes-mobile{
        flex-direction: column;
        align-items: center;
    }
    .link__cabecalho{
        width: 12.406rem;

        padding-left: .3rem;
        padding-right: 0rem;

        text-align: center;
    }
    .botao__link___cabecalho{
        width: 12.406rem;

        padding-left: 0rem;
        padding-right: 0rem;

        text-align: center;
    }
    /*---------------BANNER--------------*/
    .secao__banner{
        padding-top: 9.375rem;
        padding-bottom: 2.813rem;

        gap: 2.939rem;

        animation: none;
    }
    .secao__info___banner{
        width: 90vw;

        gap: 1rem;
    }
    .descricao__banner{
        text-align: center;

        font-size: 18px;

        width: 12.813rem;
    }
    .titulo__banner{
        font-size: 48px;

        line-height: 50px;
    }
    .lista__empresas___banner{
        flex-wrap: wrap;
        justify-content: center;

        gap: 1.4rem;
        width: 90vw;
    }
    .item__empresas___banner:nth-child(1){
        width: 5.521rem;
    }
    .item__empresas___banner:nth-child(2){
        width: 6.274rem;
    }
    .item__empresas___banner:nth-child(3){
        width: 6.35rem;
    }
    .item__empresas___banner:nth-child(4){
        width: 6.375rem;
    }
    .item__empresas___banner:nth-child(5){
        width: 8.813rem;
    }
    .imagem__empresas___banner{
        width: 100%;
    }
    /*-----------TECNOLOGIAS------------*/
    .secao__tecnologias{
        padding-top: 2.625rem;
        padding-left: 1.813rem;
        padding-right: 1.813rem;
        padding-bottom: 2.313rem;

        margin-bottom: 4rem;

        flex-direction: column;
        align-items: center;

        text-align: center;

        width: 90vw;
    }
    .secao__info___tecnologias{
        width: 72vw;

        text-align: center;
        align-items: center;
    }
    .titulo__info___tecnologias{
        text-align: center;

        font-size: 26px;
    }
    .descricao__info___tecnologias{
        line-height: 36px;
    }
    #botao__saiba-mais-desktop{
        display: none;
    }
    #botao__saiba-mais-mobile{
        display: block;

        width: 72vw;
    }
    .lista__tecnologias{
        width: 82vw;
    }
    .item__lista___tecnologias{
        width: 24vw;
        height: 4.812rem;
    }
    .item__lista___tecnologias:nth-child(1) > img{
        width: 2.303rem;
    }

    .item__lista___tecnologias:nth-child(2) > img{
        width: 2.189rem;
    }

    .item__lista___tecnologias:nth-child(3) > img{
        width: 2.402rem;
    }

    .item__lista___tecnologias:nth-child(4) > img{
        width: 2.558rem;
    }

    .item__lista___tecnologias:nth-child(5) > img{
        width: 2.599rem;
    }

    .item__lista___tecnologias:nth-child(6) > img{
        width: 2.371rem;
    }
    /*--------------TIMES--------------*/
    .secao__cabecalho___times{
        width: 78vw;
    }
    .titulo__cabecalho___times{
        font-size: 26px;
    }
    .titulo__lista___times{
        font-size: 20px;
    }
    .lista__times{
        flex-direction: column;
        align-items: center;
        gap: 1.625rem;
    }
    .numeracao__lista___times{
        font-size: 30px;
    }
    .titulo__item___lista-times{
        font-size: 23px;
    }
    .descricao__item___lista-times{
        font-size: 17px;

        margin-top: 0.625rem;
    }
    .secao__contato___times{
        width: 90vw;

        flex-direction: column;
        align-items: center;

        gap: 2rem;

        padding-top: 3rem;
        padding-left: 2.313rem;
        padding-right: 2.313rem;
        padding-bottom: 3.063rem;
    }
    .secao__info___contato-times{
        width: 72vw;

        gap: 2.188rem;
    }
    .titulo__info___contato-times{
        font-size: 26px;
        line-height: 35px;
    }
    .descricao__info___contato-times{
        font-size: 17px;
    }
    .secao__botao___contato-times{
        width: 72vw;

        align-items: flex-start;
        gap: 2rem;
    }
    .link__contato___times{
        padding-left: 0rem;

        font-size: 17px;
    }
    .botao__contato___times{
        width: 72vw;

        text-align: center;
    }
    .secao__times{
        padding-bottom: 3.125rem;
    }
    /*---------------DIFERENCIAL---------------*/
    .secao__diferencial{
        padding-bottom: 3.125rem;
    }
    .titulo__diferencial{
        font-size: 26px;

        margin-bottom: 3.125rem;
    }
    .secao__tabs___diferencial{
        gap: 1.3rem;

        margin-bottom: 4.863rem;
    }
    .tablinks{
        font-size: 18px;
    }
    .secao__conteudo___diferencial{
        flex-direction: column-reverse;
        gap: 3.004rem;
    }
    .secao__info___conteudo-diferencial{
        width: 84vw;
    }
    .imagem__conteudo-diferencial{
        width: 90vw;
    }
    .titulo__info___conteudo-diferencial{
        font-size: 23px;
    }
    .botao__saiba-mais___diferencial{
        margin-top: 2rem;

        width: 84vw;

        text-align: center;
    }
    /*--------------GESTAO-ENTREGA--------------*/
    .secao__gestao___entrega{
        gap: 3.125rem;

        padding-bottom: 3.125rem;
    }
    .titulo__gestao__entrega{
        font-size: 26px;
    }
    .secao__lista___gestao-entrega{
        width: 82vw;

        justify-content: flex-start;
        flex-wrap: nowrap;

        overflow-x: scroll;

        scroll-snap-type: x mandatory;

        scrollbar-width: none;
    }
    .secao__lista___gestao-entrega::-webkit-scrollbar{
        display: none;
    }
    .item__lista___gestao-entrega{
        scroll-snap-align: start;
    }
    .descricao__item___lista-gestao-entrega{
        font-size: 17px;

        width: 82vw;
    }
    /*-------------DEPOIMENTOS-------------*/
    .secao__depoimento{
        padding-top: 3.125rem;
        padding-bottom: 3.5rem;

        width: 90vw;

        margin-bottom: 3.813rem;
    }
    .texto__conteudo{
        width: 19.375rem;

        font-size: 18px;

        line-height: 40px;
    }
    .imagem__empresa___depoimento{
        margin-bottom: 1.866rem;
    }
    /*-----------AGENDA-CONVERSA---------*/
    .secao__agenda-conversa{
        width: 22.188rem;
        height: 22.188rem;

        gap: 1.625rem;

        margin-bottom: 3.25rem;
    }
    .titulo__agenda-conversa{
        font-size: 23px;
        line-height: 30px;

        width: 17.875rem;
    }
    /*-------------NEWSLETTER-----------*/
    .secao__newsletter{
        gap: 2.875rem;

        margin-bottom: 6.188rem;
    }
    .container__cabecalho___newsletter{
        gap: 1.625rem;
    }
    .titulo__newsletter{
        font-size: 26px;
    }
    .descricao__newsletter{
        width: 15.25rem;

        line-height: 36px;

        text-align: center;
    }
    .form__newsletter{
        flex-direction: column;

        gap: 1.313rem;
    }
    .input__newsletter{
        width: 82vw;
    }
    .botao__envia___newsletter{
        width: 82vw;

        margin-top: 0.938rem;
    }
    /*---------------RODAPE-------------*/
    .rodape{
        gap: 2.688rem;
    }
    .titulo__info___rodape{
        font-size: 25px;

        width: 19.25rem;

        text-align: center;

    }
    .secao__links___rodape{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .link__fale-conosco{
        padding: 0%;
    }
    .link__estamos-contratando{
        padding: 0%;
    }
    .link__email-rodape{
        padding: 0%;
    }
    .address__rodape{
        font-size: 14px;
        line-height: 26px;

        text-align: center;

        width: 14.125rem;
    }
}